.uid-input-modal-container::-webkit-scrollbar {
    background-color: oklch(var(--b1));
    width: 0.5vw;
}

.uid-input-modal-container::-webkit-scrollbar-track {
    background-color: oklch(var(--b1));
}

.uid-input-modal-container::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1vw;
    border: 0.1vw solid oklch(var(--b1));
}

.uid-input-modal-container::-webkit-scrollbar-button {
    display: none;
}
